<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="map-fragment(lat, lng, name)">
    <div id="pickup-location-map"></div>
    <script th:inline="javascript">
        (function() {
            if (typeof L === 'undefined') {
                console.error("Leaflet.js is not loaded.");
                return;
            }
            const storeLat = /*[[${lat}]]*/ 0;
            const storeLng = /*[[${lng}]]*/ 0;
            const storeName = /*[[${name}]]*/ '';
            const mapContainer = document.getElementById('pickup-location-map');

            if (mapContainer && !mapContainer._leaflet_id) { // Check if map is not already initialized
                const map = L.map(mapContainer).setView([storeLat, storeLng], 15);

                L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
                    attribution: '© OpenStreetMap contributors © CARTO',
                }).addTo(map);

                L.marker([storeLat, storeLng]).addTo(map)
                    .bindPopup('<b>' + storeName + '</b><br>Pickup location for this order.')
                    .openPopup();

                setTimeout(() => map.invalidateSize(), 10);
            }
        })();
    </script>
</div>
</body>
</html>