<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- This is the fragment that will be updated by HTMX -->
<div th:fragment="product-list-fragment" class="product-grid">
    <div th:each="product : ${products}" class="product-card">
        <a th:href="@{/product/{id}(id=${product.id})}">
            <div class="product-image-container">
                <img th:src="@{'/images/products/' + ${product.image}}" th:alt="${product.name}">
            </div>
            <div class="product-card-info">
                <p class="product-card-category" th:text="${product.category}">CATEGORY</p>
                <h3 class="product-card-name" th:text="${product.name}">Product Name</h3>
                <p class="product-price" th:text="${product.getFormattedPrice()}">₱ 199</p>
            </div>
        </a>
    </div>
</div>

</body>
</html>